<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delacruz.ramon.fridgandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.delacruz.ramon.fridgandroid.MyRestaurantsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.delacruz.ramon.fridgandroid.ui.MainActivity"
            android:theme="@style/NoActionBarTheme">

        </activity>

        <activity android:name="com.delacruz.ramon.fridgandroid.ui.ItemActivity"
            android:label="Shopping/Pantry Lists"/>

        <activity android:name="com.delacruz.ramon.fridgandroid.ui.PantryActivity"
            android:label="My Pantry List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delacruz.ramon.fridgandroid.ui.MainActivity" />
        </activity>


        <activity android:name="com.delacruz.ramon.fridgandroid.ui.GroceryActivity"
            android:label="My Grocery List">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delacruz.ramon.fridgandroid.ui.MainActivity" />
        </activity>
        <activity android:name="com.delacruz.ramon.fridgandroid.ui.ItemDetailActivity" />
        <activity android:name="com.delacruz.ramon.fridgandroid.ui.PantryDetailActivity" />
        <activity android:name="com.delacruz.ramon.fridgandroid.ui.GroceryDetailActivity" />
        <activity android:name="com.delacruz.ramon.fridgandroid.ui.CreateAccountActivity"/>

        <activity android:name="com.delacruz.ramon.fridgandroid.ui.LoginActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>